#!/bin/bash

function asdfg {
    . $HOME/.asdf/asdf.sh
    . $HOME/.asdf/completions/asdf.bash
}

tojpg() {
    for file in "$@"
    do
        sips -s format jpeg "$file" --out /tmp/out$RANDOM.jpg
    done
}
